html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background-image: url('https://images.unsplash.com/photo-1504608524841-42fe6f032b4b?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); 
  
  background-repeat: repeat-x;
  
  background-size: auto 100%; 
    background-position: 0 0;
    animation: scrollBackground 70s linear infinite;
}

@keyframes scrollBackground {
  from { background-position: 0 0; }
  to { background-position: -100vw 0; } /* Adjust distance for smooth scrolling */
}


.text-color{
  color:#ffff
}
.img{
  background: aliceblue;
  border-radius: 8px;
}

.parent{
  display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 10%;
}

.text-justify{
  text-align: justify;
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.temp-info{
  display: flex;
    gap: 2%;
    flex-wrap: wrap;
    margin-top: 5%;
    justify-content: space-around;
}